### Importação dos dados

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [7]:
faturamento_loja1 = loja['Preço'].sum()
faturamento_loja2 = loja2['Preço'].sum()
faturamento_loja3 = loja3['Preço'].sum()
faturamento_loja4 = loja4['Preço'].sum()

faturamentos = {
    'Loja 1': faturamento_loja1,
    'Loja 2': faturamento_loja2,
    'Loja 3': faturamento_loja3,
    'Loja 4': faturamento_loja4
}

faturamentos

{'Loja 1': np.float64(1534509.12),
 'Loja 2': np.float64(1488459.06),
 'Loja 3': np.float64(1464025.03),
 'Loja 4': np.float64(1384497.58)}

# 2. Vendas por Categoria

In [15]:
categorias_loja1 = loja.groupby('Categoria do Produto').size().sort_values(ascending=False)
categorias_loja1

Categoria do Produto
moveis                   465
eletronicos              448
brinquedos               324
eletrodomesticos         312
esporte e lazer          284
instrumentos musicais    182
livros                   173
utilidades domesticas    171
dtype: int64

In [12]:
categorias_loja2 = loja2.groupby('Categoria do Produto').size().sort_values(ascending=False)
categorias_loja2

Categoria do Produto
moveis                   442
eletronicos              422
brinquedos               313
eletrodomesticos         305
esporte e lazer          275
instrumentos musicais    224
livros                   197
utilidades domesticas    181
dtype: int64

In [13]:
categorias_loja3 = loja3.groupby('Categoria do Produto').size().sort_values(ascending=False)
categorias_loja3

Categoria do Produto
moveis                   499
eletronicos              451
brinquedos               315
eletrodomesticos         278
esporte e lazer          277
livros                   185
instrumentos musicais    177
utilidades domesticas    177
dtype: int64

In [14]:
categorias_loja4 = loja4.groupby('Categoria do Produto').size().sort_values(ascending=False)
categorias_loja4

Categoria do Produto
moveis                   480
eletronicos              451
brinquedos               338
esporte e lazer          277
eletrodomesticos         254
utilidades domesticas    201
livros                   187
instrumentos musicais    170
dtype: int64

# 3. Média de Avaliação das Lojas

In [17]:
media_avaliacao_loja1 = loja['Avaliação da compra'].mean()
media_avaliacao_loja2 = loja2['Avaliação da compra'].mean()
media_avaliacao_loja3 = loja3['Avaliação da compra'].mean()
media_avaliacao_loja4 = loja4['Avaliação da compra'].mean()

avaliacoes_medias = {
    'Loja 1': media_avaliacao_loja1,
    'Loja 2': media_avaliacao_loja2,
    'Loja 3': media_avaliacao_loja3,
    'Loja 4': media_avaliacao_loja4
}

avaliacoes_medias

{'Loja 1': np.float64(3.976685036032217),
 'Loja 2': np.float64(4.037303942348453),
 'Loja 3': np.float64(4.048325561678677),
 'Loja 4': np.float64(3.9957591178965224)}

# 4. Produtos Mais e Menos Vendidos

In [20]:
vendas_produtos_loja1 = loja.groupby('Produto').size().sort_values(ascending=False)
produto_mais_vendido_loja1 = vendas_produtos_loja1.idxmax()
produto_menos_vendido_loja1 = vendas_produtos_loja1.idxmin()

print("Loja 1 → mais vendido:", produto_mais_vendido_loja1, "| menos vendido:", produto_menos_vendido_loja1)

Loja 1 → mais vendido: TV Led UHD 4K | menos vendido: Celular ABXY

In [21]:
vendas_produtos_loja2 = loja2.groupby('Produto').size().sort_values(ascending=False)
produto_mais_vendido_loja2 = vendas_produtos_loja2.idxmax()
produto_menos_vendido_loja2 = vendas_produtos_loja2.idxmin()

print("Loja 2 → mais vendido:", produto_mais_vendido_loja2, "| menos vendido:", produto_menos_vendido_loja2)

Loja 2 → mais vendido: Iniciando em programação | menos vendido: Jogo de tabuleiro

In [22]:
vendas_produtos_loja3 = loja3.groupby('Produto').size().sort_values(ascending=False)
produto_mais_vendido_loja3 = vendas_produtos_loja3.idxmax()
produto_menos_vendido_loja3 = vendas_produtos_loja3.idxmin()

print("Loja 3 → mais vendido:", produto_mais_vendido_loja3, "| menos vendido:", produto_menos_vendido_loja3)

Loja 3 → mais vendido: Kit banquetas | menos vendido: Blocos de montar

In [23]:
vendas_produtos_loja4 = loja4.groupby('Produto').size().sort_values(ascending=False)
produto_mais_vendido_loja4 = vendas_produtos_loja4.idxmax()
produto_menos_vendido_loja4 = vendas_produtos_loja4.idxmin()

print("Loja 4 → mais vendido:", produto_mais_vendido_loja4, "| menos vendido:", produto_menos_vendido_loja4)

Loja 4 → mais vendido: Cama box | menos vendido: Guitarra

# 5. Frete Médio por Loja

In [25]:
frete_medio_loja1 = loja['Frete'].mean()
frete_medio_loja2 = loja2['Frete'].mean()
frete_medio_loja3 = loja3['Frete'].mean()
frete_medio_loja4 = loja4['Frete'].mean()

fretes_medios = {
    'Loja 1': frete_medio_loja1,
    'Loja 2': frete_medio_loja2,
    'Loja 3': frete_medio_loja3,
    'Loja 4': frete_medio_loja4
}

fretes_medios

{'Loja 1': np.float64(34.69180491551149),
 'Loja 2': np.float64(33.62194065817927),
 'Loja 3': np.float64(33.07446427411743),
 'Loja 4': np.float64(31.278997081841727)}